{% extends "smartmemo/base.html" %}

{% block title %}
ログイン
{% endblock %}

{% block content %}

<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-5">

            <div class="card login-card">

                <div class="card-body">

                    <h2 class="login-title">
                        SmartMemo
                        <span class="login-tagline-inline">Where Notes Meet Code.</span>
                    </h2>

                    <p class="login-subtitle ">
                        Welcome Back!
                    </p>

                    <!--ログイン失敗したときアラート表示する-->
                    {% if form.errors %}
                    <div class="alert alert-danger">
                        ⚠️ユーザー名またはパスワードが間違っています。
                    </div>
                    {% endif %}

                    <!--自動モードから自由にデザインできるように設定-->
 
                    <form method="post">

                        {% csrf_token %}
                        
                        <div class="mb-3">
                            <label class="form-label">
                                {{ form.username.label}}
                            </label>

                            {{ form.username}}
                        </div>

                        <div class="mb-3">
                            <label class="form-label">
                                {{ form.password.label }}
                            </label>

                            {{ form.password}}
                        </div>

                        <!--{{ form.as_p}}*/ を卒業-->

                        <button type="submit" class="btn btn-primary btn-login">
                            ログイン
                        </button>

                        <p class="text-center" mt-3>
                            アカウントが未登録ですか？
                            <a href="{% url 'register' %}">
                                新規登録はこちら
                            </a>
                        </p>

                        <!--パスワードを忘れた方はこちら-->
                        <a href="{% url 'password_reset' %}">パスワードを忘れた方はこちら</a>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}