{% extends "smartmemo/base.html" %}

{% block title %}
パスワードリセット
{% endblock %}

{% block content %}
<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-5">

            <div class="card login-card">

                <div class="card-body">

                    <h2 class="login-title">
                        パスワードをお忘れですか？
                    </h2>

                    <p class="text-muted">
                        登録済みのメールアドレスを入力してください。パスワード再設定用のリンクをお送りします。
                    </p>

                    <form method="post">

                        {% csrf_token %}

                        <div class="mb-3">
                            <label class="form-label">
                                {{ form.email.label }}
                            </label>

                            {{ form.email }}
                            {% for error in form.email.errors %}

                            <div class="alert alert-danger mt-2">⚠️ {{ error }}</div>

                            {% endfor %}

                        </div>

                        <div class="text-center mt-4">

                            <button type="submit" class="btn btn-success">
                                送信する
                            </button>

                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>
{% endblock %}