{% extends "smartmemo/base.html" %}

{% block title %}
パスワード変更
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">

        <div class="col-md-6">

            <div class="card login-card">

                <div class="card-body">

                    <h2 class="login-title">
                        パスワード変更
                    </h2>

                    <form method="post">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label class="form-label">{{ form.old_password.label}}</label>
                            {{ form.old_password }}
                            {% for error in form.old_password.errors %}
                            <div class="alert alert-danger mt-2">⚠️ {{ error }}</div>
                            {% endfor %}
                        </div>

                        <div class="mb-3">
                            <label class="form-label">{{ form.new_password1.label }}</label>
                            {{ form.new_password1 }}
                            <small class="form-text text-muted">{{ form.new_password1.help_text }}</small>
                            {% for error in form.new_password1.errors %}
                            <div class="alert alert-danger mt-2">⚠️ {{ error }}</div>
                            {% endfor %}
                        </div>

                        <div class="mb-3">
                            <label class="form-label">{{ form.new_password2.label }}</label>
                            {{ form.new_password2 }}
                            {% for error in form.new_password2.errors %}
                            <div class="alert alert-danger mt-2">⚠️ {{ error }}</div>
                            {% endfor %}
                        </div>

                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-success">変更する</button>
                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>
{% endblock %}