{% extends "smartmemo/base.html" %}

{% block title %}
新しいパスワード
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card login-card">
                <div class="card-body">
                    <h2 class="login-title">
                        新しいパスワードを設定
                    </h2>
                    {% if validlink %}
                    <form method="post">
                        {% csrf_token %}
                        
                        <div class="mb-3">
                            <label class="form-label">{{ form.new_password1.label}}</label>
                            {{ form.new_password1 }}
                            {% for error in form.new_password1.errors %}
                            <div class="alert alert-danger mt-2">⚠️ {{ error }}</div>
                             {% endfor %}
                        </div>

                        <div class="mb-3">
                            <label class="form-label">{{ form.new_password2.label}}</label>
                            {{ form.new_password2 }}
                            {% for error in form.new_password2.errors %}
                            <div class="alert alert-danger mt-2">⚠️ {{ error }}</div>
                            {% endfor %}
                        </div>

                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-success">
                                変更する
                            </button>
                        </div>
                    </form>
                    {% else %}
                    <div class="alert alert-danger">
                        このリンクは無効です。もう一度パスワードリセットをお試してください。
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}