{% extends "smartmemo/base.html" %}

{% block title%}
パスワード変更完了
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card login-card">
                <div class="card-body text-center">
                    <h2 class="login-title">
                        パスワード変更をしました。
                    </h2>
                    <a href="{% url 'login' %}" class="btn btn-primary mt-3">
                        ログイン画面へ
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}