{% extends "smartmemo/base.html" %}

{% block title %}
ユーザ―登録
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        
        <div class="col-md-5">
            <div class="card login-card">
                <div class="card-body">
                    <h2 class="login-title">ユーザー登録</h2>
                    <form method="post">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label class="form-label">
                                {{ form.username.label }}
                            </label>
                            
                            {{ form.username}}

                            <small class="form-text text-muted">
                                {{form.username.help_text}}
                            </small>

                            {{ form.username.errors }}
                        </div>

                        <!--メールアドレス-->
                        <div class="mb-3">
                            <label class="form-label">
                                {{ form.email.label}}
                            </label>

                            {{ form.email }}

                            {% for error in form.email.erros %}
                            <div class="alert alert-danger mt-2">
                                ⚠️ {{ error }}
                            </div>
                            {% endfor %}
                        </div>

                        <!--パスワード-->

                        <div class="mb-3">
                            <label class="form-label">
                                {{ form.password1.label }}
                            </label>

                            {{form.password1}}

                            <small class="form-text text-muted">
                                {{form.password1.help_text}}
                            </small>
                        </div>

                          <!--パスワード再確認-->

                        <div class="mb-3">
                            <label class="form-label">
                                {{ form.password2.label}}
                            </label>

                            {{ form.password2 }}

                            <small class="form-text text-muted">
                                {{ form.password2.help_text}}
                            </small>

                            <!--再入力したパスワードが異なるときに表示-->
                            {% for error in form.password2.errors %}
                            <div class="alert alert-danger mt-2">
                                ⚠️ {{ error }}
                            </div>
                            {% endfor%}
                        </div>

                        <!--ボタン-->
                        <button type="submit" class="btn btn-success btn-login" >
                            登録
                        </button>

                        <p class="text-center" mt-3>
                            すでにアカウントをお持ちですか？
                            <a href="{% url 'login' %}">
                                ログインはこちら
                            </a>
                        </p>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}